.work.varsovie-roasted
  .wrap
    %header
      %h2
        = image_tag "work/varsovie-roasted/header-logo.png", alt: "Varsovie Roasted"
    
    %p.text.description
      Oskar approached me with an idea of a hyperlocal company specializing in distribution of 
      freshly roasted coffee to coffee shops and individuals. The only requirement was to keep it 
      hyperlocal with strong emphasis on place of origin - Warsaw. The idea was to keep the logo as 
      pre-war as possible, evoking memories and stories when Warsaw was called "Paris of the North".

    %p.sketch
      = image_tag "work/varsovie-roasted/sketch-1.jpg", alt: "Varsovie Roasted: Sketch 1"

    %p.sketch
      = image_tag "work/varsovie-roasted/sketch-2.jpg", alt: "Varsovie Roasted: Sketch 2"

    %p.two
      = image_tag "work/varsovie-roasted/logo-1.jpg", alt: "Varsovie Roasted: Logo proposition 1"
      = image_tag "work/varsovie-roasted/logo-2.jpg", alt: "Varsovie Roasted: Logo proposition 2"
