%footer{role: "footer"}
  %nav
    %ul
      %li
        = link_to "//twitter.com/dotmariusz" do
          %i.icon.icon-twitter
      %li
        = link_to "//dribbble.com/mariusz" do
          %i.icon.icon-dribbble
      %li
        = link_to "//pinterest.com/mariusz" do
          %i.icon.icon-pinterest
      %li
        = link_to "//alpha.app.net/mariusz" do
          %i.icon.icon-app-net
      %li
        = link_to "//plus.google.com/104890454770498071826/posts" do
          %i.icon.icon-gplus

  &copy; 2013 Mariusz Ciesla
