= partial "pages/index/teaser-v2"

%a#work
= partial "pages/work/dribbble"
= partial "pages/work/varsovie-roasted"
= partial "pages/work/anynines"

%a#about
= partial "pages/about/short"

%a#contact
= partial "pages/contact/email"
