= partial "layouts/header"
= partial "pages/index/teaser"
/= partial "layouts/open"

#work
  /= partial "pages/work/list"
  = partial "pages/work/dribbble"

#testimonials
  = partial "pages/work/testimonials"

#about
  = partial "pages/about/short"

#skills
  = partial "pages/about/skills"

#contact
  = partial "pages/contact/email"
