= partial "pages/index/teaser"
/= partial "layouts/open"

%a#work
/= partial "pages/work/list"
= partial "pages/work/dribbble"

%a#testimonials
= partial "pages/work/testimonials"

%a#about
= partial "pages/about/short"
= partial "pages/about/skills"

%a#contact
= partial "pages/contact/email"
